<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We are end to end service provider in the field of High Performance Computing (HPC), Artificial Intelligence (AI). We can help customers to set up own HPC/AI or run it on cloud. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HPC Hardwares</h4>
                    <p class="text-muted">Complete service for HPC server, interconnect, storage selection, benchmarking, procurement</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HPC Software</h4>
                    <p class="text-muted">Complete service for HPC software stack, compiler, debugger installation and maintennce</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HPC Applications</h4>
                    <p class="text-muted">Complete service for application software porting, benchmarking, optimizing, code developement</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Hardware</h4>
                    <p class="text-muted">Complete service for GPU server, interconnect, storage selection, benchmarking, procurement</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Software</h4>
                    <p class="text-muted">Complete service for AI software stack, compiler, debugger installation and maintennce</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Application</h4>
                    <p class="text-muted">Complete service for application software porting, benchmarking, optimizing, code developement</p>
                </div>
            </div>
        </div>
    </section>
